In [1]:
data={
    "column1":[1,5,18,534,2,4,0,7,66,33,34],
    "column2":["a","b","c","d","e","f","g","h","h","i","l"]
}

In [3]:
import pandas as pd
data=pd.DataFrame(data)
data

    column1 column2
0         1       a
1         5       b
2        18       c
3       534       d
4         2       e
5         4       f
6         0       g
7         7       h
8        66       h
9        33       i
10       34       l

outlier detection and removal (IQR Method)

In [7]:
q1=data["column1"].quantile(0.25)
q2=data["column1"].quantile(0.75)
q3=q2-q1
lower_bound=q1-1.5*q1
upper_bound=q2+1.5*q2
outliers=data[(data["column1"]<=lower_bound)|(data["column1"]>=upper_bound)]
cleaned_data=data[(data["column1"]>lower_bound)&(data["column1"]<upper_bound)]

outliers

In [11]:
outliers

   column1 column2
3      534       d

In [9]:
cleaned_data

    column1 column2
0         1       a
1         5       b
2        18       c
4         2       e
5         4       f
6         0       g
7         7       h
8        66       h
9        33       i
10       34       l